<div class="modal fade" id="buyModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p>Category image</p>
        <p>Category name</p>
        <p>difficulty level</p>
        <p>sample questions</p>
        <button class="btn btn-success">
          <i class="glyphicon glyphicon-plus"></i> Practice
        </button>
        <%= button_tag 'Challenge Friends', class: "btn btn-success" %>
      </div>
    </div>
  </div>
</div>
