 <div class="row">
  <div class="col-md-3">
        <% category.each do |category| %>
          <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><%= category.title %></h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div>
            <%= button_tag 'Take Quiz', class: "btn btn-success", data: { toggle: 'modal', target: '#buyModal' } %>
            </div>
            <%= render partial: '/category/category_modal' %>
            <!-- BS JavaScript -->
            <script type="text/javascript" src="js/bootstrap.js"></script>
          </div>
        <% end %>
  </div>
</div>
