<%= render 'layouts/nav' %>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Category name</h1>
    <p class="lead">Category description</p>
  </div>
</div>

<p class="lead">Question list</p>
<span class="lead">options</span>
<span class="lead">options</span>
<span class="lead">options</span>
<span class="lead">options</span>