<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h5 class="card-title"><%= @category.title %></h5>
    <p class="lead"><%= @category.description %></p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <p class="lead" id="question">Question list</p>
    <span class="lead">options</span>
    <span class="lead">options</span>
    <span class="lead">options</span>
    <span class="lead">options</span>
    <button class="btn btn-primary" id="btn-answer">Next</button>
  </div>
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <p class="lead">Play More!</p>
    <span class="lead">Quiz Cards</span>
    <span class="lead">Quiz Cards</span>
    <span class="lead">Quiz Cards</span>
    <span class="lead">Quiz Cards</span>
  </div>
</div>


<ul>
  <% @questions.each do |questions| %>
    <li><%= questions.title %></li>
  <% end %>
</ul>